.navbar-brand {
  float: left;
  height: 50px;
  padding: 7px 15px;
  font-size: 18px;
  line-height: 20px;
  color: white;
}

.navbar-brand > img {
  display: inline;
  height: 35px;
  padding-right: 10px;
}

.glyphicon {
  padding-right: 10px;
}

.navbar-default {
  width: 100%;
  padding-left: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #337ab7;
  background-image: none;
  display: inline-table;
  margin: auto;
  border-radius: 4px;
}

.navbar-default a {
  color: white;
  text-decoration: none;
}

  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: white;
    background-color: #337ab7;
  }

  .navbar-default a:hover {
    color: #FFFF00;
    text-decoration: none;
  }
