<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="app-component navbar-brand" routerLink="/">
          <img [src]="appLogo" alt="logo">
          <span class="app-component appTitle">{{appTitle}}</span>
        </a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="#">
      <li routerLinkActive="active"><a routerLink="/product/new"><span class='glyphicon glyphicon-plus-sign'></span>New Product</a></li>
      </a>
      </li>
    </ul>
  </div>
</nav>
